<h1>Change Your Password</h1>

<form action="<%= edit_password_url(@user) %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input name="_method" type="hidden" value="patch" />

	<label> Old Password <br>
		<input type="password" name="user[old_password]">
	</label>

	<label> New Password <br>
		<input type="password" name="user[new_password]">
	</label>

	<button type="submit">Update</button>
</form>