<h1>Your Info</h1>

<p>Username: <%= @user.username %></p>
<p>Email Address: <%= @user.email %></p>
<p>If any of the above info looks incorrect, <em><%= link_to "click here", edit_user_url(@user) %></em></p>
<p>If you would like to change your password, <em><%= link_to "click here", edit_password_url(@user) %></em></p>