<% user_interest = current_user_interest_level(item) %>
<div class="interest-level-buttons" data-item-id="<%= item.id %>" data-initial-interest="<%= user_interest %>">
	<button type="button" class="interest-level-button interested-button" title="I'm interested" data-level="1">✓</button>
	<button type="button" class="interest-level-button neutral-button" title="I'm neutral" data-level="0">O</button>
	<button type="button" class="interest-level-button not-interested-button" title="I'm not interested" data-level="-1">✗</button>
</div>