<h1><%= @title %></h1>

<div class="index-tiles">
	<% @items.each do |item| %>
		<%= render partial: "item_tile", locals: {item: item} %>
	<% end %>
</div>


<script type="text/javascript">
	$(setupInterestLevelButtons);
</script>