<h1>Create A New Item</h1>

<form action="<%= items_url %>" method="post" enctype="multipart/form-data">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>
		Title <br>
		<input type="text" name="item[title]">
	</label><br>
	<label>
		Keywords (separate with commas) <br>
		<input type="text" name="item[keywords]">
	</label><br>

	<label>
		Pictures <br>
		<div class="picture-pickers">
			<input type="file" name="item[images][]"><br>		
		</div>
	</label><br>
	<div class="button-add-another"> Add Another Picture </div>

	<button type="submit">Save</button>
</form>

<script type="text/javascript">
	var addAnother = function() {
		// console.log("add another")
		$('.picture-pickers').append('<input type="file" name="item[images][]"><br>');
	};

	$(function(){
		$('.button-add-another').bind('click', addAnother)
	});
</script>