form {
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
}

form > h2 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-weight: normal;
	border-bottom: 1px solid lightseagreen;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: Georgia;
}

form > h2 + p.description {
	text-align: center;
	font-family: Georgia;
	font-size: 19px;
	margin-top: 10px;
	margin-bottom: 22px;
}

form > div.error-messages {
	padding: 10px 0px;
	background-color: rgba(255, 200, 200, .5);
	width: 90%;
	margin: 0px auto;
}

div.error-messages > p.error-message {
	text-align: center;
	color: darkred;
	font-size: 12px;
	margin: 0px;
}

label {
	padding-left: 11%;
}

input[type=text], input[type=password], div.picture-pickers {
	display: block;
	margin-left: 10%;
	margin-right: 10%;

}

input[type=text], input[type=password] {
	width: 80%;
	height: 21px;
	margin-bottom: 15px;
	margin-top: 2px;
	font-size: 15px;
}

.picture-pickers {
	margin-bottom: 30px;
	margin-top: 2px;
}

.picture-picker {
	position: relative;
}

.picture-picker input[type=file] {
	height: 20px;
	font-size: 12px;
	margin-top: 3px;
}
.picture-picker .button-remove-picker {
	position: absolute;
	right: 0px;
}

form > div.buttons {
	width: 100%;
	text-align: center;
	margin-top: -10px;
}

form button[type=submit], form button.cancel {
	height: 27px;
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	font-size: 15px;
	font-family: helvetica;
}