header {
	min-height: 45px;
	background: aliceblue;
	border-bottom: solid 1px #DBF1F6;
}

.header-piece {
	padding-left: 20px;
	padding-right: 20px;
	background: aliceblue;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}


.header-piece > * {
	display: inline-block;
	float: left;
}

header span {
	font-family: Georgia;
	font-style: italic;
	font-size: 19px;
	height: 20px;
	padding: 12px 18px 13px;
}

header > div.header-piece > a {
	font-size: 17px;
	height: 19px;
	padding: 11px 12px 15px;
}

header > div.header-piece > a:hover {
	background: #DBF1F6;
}

header > div.logged-out {
	text-align: center;
	padding: 5px 5%;
}
