.index-tiles {
	text-align: center;
}

.index-tile {
	margin: 6px 6px 20px 6px;
	display: inline-block;
	vertical-align: top;
	min-height: 300px;
	width: 200px;
	overflow: hidden;
	position: relative; 
}

.index-tile .pic-spot {
	width: 200px;
	height: 200px;
	margin-bottom: 8px;
	border-radius: 15%;
	overflow: hidden;
}

.index-tile .pic-spot:hover {
	box-sizing: border-box;
	border: solid 1px lightseagreen;
}

.index-tile .no-pic {
	background-color: #e5f5ff;
}

.index-tile > .interest-level-buttons {
	margin-bottom: 8px;
}

div.item-title {
	text-align: center;	
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div.keywords {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

span.kw {
	display: inline-block;
	padding: 2px 5px;
	margin-top: 3px;
	background-color: aliceblue;
}

.interest-level-buttons {
	width: 200px;
	display: inline-block;
	font-size: 0px;
}

.interest-level-buttons > button {
	display: inline-block;
	font-size: 15px;
	color: black;
	width: 64px;
	height: 30px;
	margin-left: 4px;
	border-radius: 20%;
	border-top: 3px solid rgba(255, 255, 255, .2);
	border-right: 3px solid rgba(225, 225, 225, .1);
	border-left: 3px solid rgba(225, 225, 225, .1);
	border-bottom: 3px solid rgba(150, 150, 150, .1);	
	outline: none;
}

.interest-level-buttons > button:first-of-type {
	margin-left: 0px;
}

button.interested-button {
	background-color: rgba(150, 255, 150, .15);
}

button.neutral-button {
	background-color: rgba(255, 255, 150, .15);
	font-weight: 500;
}

button.not-interested-button {
	background-color: rgba(255, 210, 150, .15);
}

button.interested-button:disabled, button.interested-button:hover {
	background-color: rgba(150, 255, 150, 1);
}

button.neutral-button:disabled, button.neutral-button:hover {
	background-color: rgba(255, 255, 150, 1);
}

button.not-interested-button:disabled, button.not-interested-button:hover {
	background-color: rgba(255, 175, 150, 1);
}

.interest-level-buttons > button:disabled, .interest-level-buttons > button:active {
	border-top: 3px solid rgba(150, 150, 150, .1);
	border-right: 3px solid rgba(225, 225, 225, .1);
	border-left: 3px solid rgba(225, 225, 225, .1);
	border-bottom: 3px solid rgba(255, 255, 255, .2);
}

.display-all-interests > .interest-level-buttons {
	float: right;
}

div.pic-slideshow {
	width: 100%; 
	text-align: center;
	background-color: aliceblue; 
	white-space: nowrap; 
	overflow-x: scroll
}