.index-tile {
	margin: 5px;
	float: left;
	min-height: 300px;
	width: 200px;
	overflow: hidden;
	position: relative; 
}

.index-tile .pic-spot {
	width: 200px;
	margin-bottom: 8px;
}

.index-tile .no-pic {
	height: 200px;
	background-color: #e5f5ff;
}

div.item-title {
	text-align: center;	
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div.keywords {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

span.index-tile-kw {
	display: inline-block;
	padding: 2px 5px;
	margin-top: 3px;
	background-color: aliceblue;
}

.interest-level-buttons {
	position: absolute;
	top: 0px;
	right: 0px;
}

.interest-level-buttons > button {
	font-size: 14px;
	color: black;
	background-color: rgba(255, 255, 255, .9);
	padding: 0px;
	width: 21px;
	height: 21px;
	border: none;
	border: 1px solid rgba(100, 100, 100, .9);
	border-radius: 35%;
}

.interest-level-buttons > button:not(:disabled):hover {
	color: lightseagreen;
}

.interest-level-buttons > button.interested-button:disabled {
	background-color: rgba(200, 255, 200, .9);
}

.interest-level-buttons > button.neutral-button:disabled {
	background-color: rgba(255, 255, 200, .9);
}

.interest-level-buttons > button.not-interested-button:disabled {
	background-color: rgba(255, 200, 200, .9);
}

div.pic-slideshow {
	width: 100%; 
	text-align: center;
	background-color: aliceblue; 
	white-space: nowrap; 
	overflow-x: scroll
}