<header class="clearfix">
	<div class="logged-out">Hello there! Just so you know, you are not currently logged in. This means you can browse through pictures, but you will need to sign up or log in to be able to express your interest in items. Whenever you're ready, <a href="/welcome"><em>click here</em></a>. </div>
</header>